
@font-face {
font-family: CAMCORDER_REG;
src: url("CAMCORDER_REG.otf") format("opentype");
}

body {
	width: 100%;
	overflow-x: hidden;
	background: url(vhs.jpg) bottom left repeat-y;
	background-attachment:fixed;
	-webkit-background-size: 1440px 19440px;
	font-family: CAMCORDER_REG, sans-serif;
	color: #fff;
	font-size: 400%;
	text-shadow: 2px 2px 0 black, -2px -2px 0 black;
}

a {
	color: #fff;
	font-style: normal;
	text-decoration: none;	
}

.vhs {
	position: fixed;
	top: 100px;
	left: 100px;
	opacity: 0.8;
}

.desc {
	position: relative;
	top: 37px;
	left: 350px;
	opacity: 0.8;
}

.extend {
	width: 100%;
	display: block;
	height: 4000px;
}