@font-face {
	font-family: CAMCORDER_REG;
	src: url("fonts/CAMCORDER_REG.otf") format("opentype");
}

*::selection {
	background: #FF39FD;
	}

html, h1, h2, h3 {
	font-size: 40px;
	line-height: 1.1;
	font-family: CAMCORDER_REG, monospace, sans-serif;
	color: #ddd;
}

body {
	margin: 0;
	padding: 0;
	background: url("../images/vcr-black.jpg") top left repeat-y, blue;
	background-attachment: fixed;
	-webkit-background-size: 100% 19440px;
		 -moz-background-size: 100% 19440px;
			-ms-background-size: 100% 19440px;
					background-size: 100% 19440px;
}

a {
	color: #ddd;
	text-shadow: -1px 1px 0 #FF39EC;
	font-style: normal;
	text-decoration: none;	
	margin: 0;
}

a:hover {
	background: #FF39EC;
	font-style: normal;
}

p {
	margin: 0;
	font-size: 75%;
}

i {
	display: block;
	padding-bottom: 1em;
	font-size: 60%;
	color: #FF39EC;
}

em {
	background: #FF39EC;
	font-style: normal;
	padding: 0 0.2em;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h3 {
	font-style: italic;
	font-weight: normal;
}

pre {
	font-size: 40%;
	padding: 0.5em;
	border-left: 5px solid #ddd;
	background: #000;
	overflow-x: scroll;
}

.image-replacement {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

ul {
	display: block;
	text-align:center; 
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

li {
	display: inline-block;
	padding-left: 1em;
}

li:first-child {
	padding-left: 0;
}

#github-data {
		position: absolute;
		top: 1em;
		right: 1em;
		padding: 1em;
		max-width: 8em;
	}

.content {
	position: relative;
	left: 50%;
	width: 750px;
	margin: 1em auto 1em;
	margin-left: -375px;
	padding-bottom: 1em;
}

.logo {
	display: block;
	background: url('../images/logo@2x.png') top center no-repeat;
	background-size: 100%;
	width: 600px;
	height: 350px;
	margin: 0 auto;
}

	#mobile {
		display: none;
	}

@media screen and (max-width: 1200px) {

	#github-data {
		font-size: 70%;
	}

}

@media screen and (max-width: 1024px) {

	.content {
		position: static;
		width: 90%;
		margin: 1em auto;
	}

		#github-data {
		position: relative;
		top: 0;
		left: 2em;
	}

}

@media screen and (max-width: 640px) {

	body, h2, h3 {
		font-size: 24px;
		background: blue;
	}

	.content {
		display: none;
	}

	#github-data {
		display: none;
	}

	#mobile {
		display: block;
		width: 90%;
		margin: 2em auto;
	}

	#mobile a {
		font-size: 80%;
	}

}