@font-face {
	font-family: CAMCORDER_REG;
	src: url("fonts/CAMCORDER_REG.otf") format("opentype");
}

*::selection {
	background: #FF39EC;
	}

html, h1, h2, h3, a, p {
	font-size: 46px;
	line-height: 1.1;
	font-family: CAMCORDER_REG, monospace, sans-serif;
	color: #ddd;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: url(../images/vcr-black.jpg) top left repeat-y, blue;
	background-attachment: fixed;
	-webkit-background-size: 100% 19440px;
		 -moz-background-size: 100% 19440px;
			-ms-background-size: 100% 19440px;
					background-size: 100% 19440px;
}

a {
	text-shadow: -2px 2px 0 #FF39EC;
;
	font-style: normal;
	text-decoration: none;	
	margin: 0;
}

a:hover {
	color: #fff;
	background: #FF39EC;
	font-style: normal;
}

p {
	margin: 0;
}

em {
	background: #FF39EC;
	font-style: normal;
	padding: 0 0.2em;
}

.image-replacement {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.play-button {
	font-size: 150%;
}


.sidebar {
	position: fixed;
	top: 1em;
	left: 1em;
}

.content {
	position: relative;
	max-width: 750px;
	margin-top: 2em;
	margin-left: 7em;
}

.center {
	margin-left: 1em;
	width: 600px;
	height: 350px;
}

.extend {
	width: 100%;
	display: block;
	height: 4000px;
}