@font-face {
	font-family: CAMCORDER_REG;
	src: url("fonts/CAMCORDER_REG.otf") format("opentype");
}

html {
	overflow-x: hidden;
}

body {
	width: 100%;
	background: url(../images/vcr-black.jpg) repeat-y, blue;
	background-attachment: fixed;
	-webkit-background-size: 100% 19440px;
	font-family: CAMCORDER_REG, sans-serif;
	color: #ddd;
	font-size: 300%;
}

a {
	color: #ddd;
	font-style: normal;
	text-decoration: none;	
	margin: 0;
}

a:hover {
	color: #FF39EC;
}

a:hover:after {
	content: " <";
}

p {
	margin: 0;
}

.play-button {
	font-size: 150%;
}

.play:hover:after {
	content: none;
}

.sidebar {
	position: fixed;
	top: 1em;
	left: 2em;
}

.content {
	max-width: 1200px;
	margin-left: 7em;
}

img.center {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 0;
	margin-left: auto;
  margin-right: auto;
	width: 600px;
	height: 350px;
}

.extend {
	width: 100%;
	display: block;
	height: 4000px;
}